.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px black solid;
  border-radius: 8px;
  margin: 20px auto;
  background-color: #fafafa;
}

.About img {
  width: 400px;
  height: 400px;
}

.About h3 {
  font-size: 3rem;
}

.About p {
  font-size: 1.5rem;
  padding: 20px;
}

/******* MEDIA QUERIES *******/

@media (max-width: 768px) {
  .About {
    margin: 20px;
  }

  .About h3 {
    font-size: 1.8rem;
  }

  .About p {
    font-size: 1.3rem;
    text-align: center;
  }
}